.display-label {
    font-weight:bold;
}
#catalogTreeView {
    width:200px;
    float:left;
}
#catalogGridView {
   
    margin:5px; 
    overflow:hidden;
}
.ProductImage {
    width:100px;
    height:100px;
}
.mainContent {
    width:400px; 
}


.ProductImageGrid {
    border:solid 1px;
    padding:3px;
   float:left;
   height:100px;
    width:100px;
    margin:5px;
}
.ProductImageLarge {
    border:solid 1px;
    padding:3px;
   height:200px;
    width:175px;
    margin:5px;
}
.ProductDescription {
    float:left;
}
.ProductImageDiv {
    float:right;
}
.containerDiv {
  border: 1px solid #3697f6;
  width: 100%;
}

.rowDivHeader {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold;
}

.rowDiv {
  border: 1px solid #668db6;
  background-color: #cee6fe;
}

.cellDivHeader {
  border-right: 1px solid white;
  display: table-cell;
  width:12%;
  padding: 1px;
  text-align: center;
}

.cellDiv {
  border-right: 2px solid white;
  display: table-cell;
  width:10%;
  padding-right: 4px;
  text-align: center;
  border-bottom: none;
}

.lastCell {
  border-right: none;
}