@{
    ViewBag.Title = "Home Page";
}

<html>
    <head>
     
        </head>
    <body>
        <div class="mainContent">
            <div id="containerDiv">
                @{Html.RenderAction("ProductGrid", "Home");}
            </div>
        </div>
    </body>
    </html>